<div class="navigation">
    <a routerLink="/home-page" routerLinkActive="selected" class="navigationLink">Home</a>
    <a routerLink="/add-book" routerLinkActive="selected" class="navigationLink">Add Book</a>
    <a routerLink="/books-in-library" routerLinkActive="selected" class="navigationLink">In Library</a>
    <a routerLink="/books-out-oflibrary" routerLinkActive="selected" class="navigationLink">Search for book</a>
    <a routerLink="/settings" routerLinkActive="selected" class="navigationLink">Settings</a>
</div>
