<body>
  <h1>Adding Book To Library</h1>
  <form (ngSubmit)="onSubmit()">
  <label>Book Name:</label><br>
  <input type="text" id="name" name="name" required [(ngModel)]="bookName"><br>
  <label>Book Author:</label><br>
  <input type="text" id="AuthorName" name="author" required [(ngModel)]="authorName"><br>
  <label>Quantity:</label><br>
  <input type="number" id="Qnt" name="quantity" required [(ngModel)]="quantity"><br>
  <label>Category:</label><br>
  <select id="category" name="category" required [(ngModel)]="category">
    <option value="">Select a category</option>
    <option value="Category 1">Category 1</option>
    <option value="Category 2">Category 2</option>
    <option value="Category 3">Category 3</option>
  </select><br>
  <label>Image:</label><br>
  <input type="file" id="image" name="image" accept="image/*" required (change)="onFileSelected($event)"><br>
  <button type="submit">Submit</button>
  </form>
</body>