<body>
    <h1>Adding Book To Library</h1>
    <form>
      <label>Book Name:</label>
      <input type="text" id="name" name="name" required><br>
      <label>Book Author</label>
      <input type="text" id="AuthorName" name="name" required><br>
      <label>Quantity:</label><br>
      <input type="number" id="Qnt" name="name" required><br>
      <label>Category:</label>
      <select id="category" name="category" required>
        <option value="">Select a category</option>
        <option value="Category 1">Category 1</option>
        <option value="Category 2">Category 2</option>
        <option value="Category 3">Category 3</option>
      </select><br>
      <label>Image:</label>
      <input type="file" id="image" name="image" accept="image/*" required><br>
      
      <button>Submit</button>
    </form>
    </body>