body{
    background-image: url(src/assets/Img/Library.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
    background-color: #567D99;
    width: 100vw;
    height: 100vh;
}